doctype html
html
  head
    title Account Management API Doc
    style.
      body {
        width: 650px;
        margin: auto;
      }
      h1 {
        text-align: center;
      }
      .resources > h2 {
        margin-bottom: 0;
      }
      .resource > h3, .resource > p {
        display: inline-block;
        margin-bottom: 0.5rem;
      }
      .resource > code {
        display: block;
        background-color: #eff0f1;
        color: #393318;
        padding: 5px;
        font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
        white-space: nowrap;
        overflow-x: auto;
      }
      .sam-logo {
        display: block;
        width: 10rem;
        margin: auto;
      }
      form {
        margin-bottom: 1rem;
      }
      .form-group {
        padding-bottom: 1rem;
      }
      label {
        display: block;
      }
  body
    h1 Account Management API
    p
      | Welcome to the ECO Account Management API powered by Amazon API Gateway and Amazon Lambda serverless. This API listed here returns mock responses to help with initial integration testing.

    section.resources
      h2 Resources
      section.resource
        h3 Create account
        p  &nbsp;Use the Cognito SDK to create account/register user. The Cognito UserPool to use for testing is in 'us-east-1' zone and the id to use is 'us-east-1_mBI0Egbey'.<br/>
           |$nbsp;Required attributes for account creation are email,phone_number

      section.resource
        h3
          a.resource-example-link(href='account') GET /account
        p  &nbsp;Returns a single subscriber account<br/>
          |&nbsp;This is a mock API for testing. The actual implementation of API expects Authorization header with the Cognito ID token,which will allow us to find the subscriber that needs to be looked up
        code
          | curl 
          span= apiUrl
          | /account -H 'accept: application/json'

      section.resource
        h3 PATCH /account
        p  &nbsp;Updates an existing account.The API Implementation expects an Authorization header with the Cognito ID token that the API can use to know which subscriber to update
        code
          | curl 
          span= apiUrl
          | /account -X PATCH -d '{"name":"Samantha"}' -H 'accept: application/json'
      section.form
      form
        div.form-group
          label(for='dataField') input json
          input(type='text' name='json' id='dataField' value='{"name":"Samantha"}')
        input(type='submit' value='Try it Out!')

    script.
     var form = document.querySelector('form')
     form.addEventListener('submit', function(event) {
       event.preventDefault()
       var data = document.getElementById('dataField').value

       var endpoint ='account/'

       if (!window.fetch) {
         alert('Your browser does not have fetch support, which this demo uses. Try again in a modern browser (https://caniuse.com/fetch) or modify the example to use an alternate approach (e.g. XMLHttpRequest or your library of choice.)')
       }

       return fetch(endpoint, {
         method:'PATCH',
         headers: {
           'content-type': 'application/json'
         },
         body: data
       })
     })

    section.resource
      p #{putaccount}

    section.resource
      h3 Delete account
      p  &nbsp;We do not support an API for deleting. Accounts created on the Amazon Cognito UserPool can be deleted via the amazon cli command.<br/>
        |&nbsp;Users can be disabled via the AWS Console



    section.resource
      h3 POST /account/element
      p  &nbsp;Adds  a new element to the subscriber account.<br/>
         |&nbsp;This is a mock API for testing. The actual implementation of API expects Authorization header with the Cognito ID token,which will allow us to find the subscriber that needs to be updated
      code
        | curl
        span= apiUrl
        |  /account/element -X POST -d '{"ishnc": "true", "mac": "3a:45:fa:99:03", "model": "SBG8300", "sn": "34212321311", "certificate": "342347887387234"}' -H 'accept: application/json'
      section.form
        form
          div.form-group
            label(for='dataField2') input json
            textarea(id="dataField2")
            | {"ishnc": "true",
            |   "mac": "3a:45:fa:99:03",
            |   "model": "SBG8300",
            |   "sn": "34212321311",
            |   "certificate": "342347887387234"}
          // input(type='textbox' name='json2' id='dataField2' value='{"ishnc": "true", "mac": "3a:45:fa:99:03", "model": "SBG8300", "sn": "34212321311", "certificate": "342347887387234"}')
          input(type='submit' value='Try it Out!')

      script.
          var form = document.querySelector('form')
          form.addEventListener('submit', function (event) {
              event.preventDefault()
              var data = document.getElementById('dataField2').value

              var endpoint = 'account/element'

              if (!window.fetch) {
                  alert('Your browser does not have fetch support, which this demo uses. Try again in a modern browser (https://caniuse.com/fetch) or modify the example to use an alternate approach (e.g. XMLHttpRequest or your library of choice.)')
              }

              return fetch(endpoint, {
                  method: 'POST',
                  headers: {
                      'content-type': 'application/json'
                  },
                  body: data
              })
          })